@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
    width: 100%;
  }

  .wedoing {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 426px;
    width: 100%;
  }

  .wedoing {
    display: none;
  }
}

@media (max-width: 768px) {
  .subscribe-input {
    width: 100%;
    max-width: 398px;
    box-sizing: border-box;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    width: 100%;
  }

  .team > .container,
  .footer > .container,
  .customers > .container {
    width: 100%;
    max-width: 582px;
  }

  .header-nav-logo {
    margin-right: 120px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    margin-right: 121px;
  }

  .address-list {
    display: block;
  }

  .address-item {
    margin-bottom: 12px;
  }

  .header-nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .menu-open-btn {
    display: none;
  }

  .other > .container {
    width: 100%;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    max-width: 768px;
  }

  @media (min-divice-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .other {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .other-list {
    gap: 72px 24px;
  }

  .other-item {
    width: calc((100% - 24px) / 2);
  }

  .other-title {
    text-align: left;
  }

  .team-list {
    display: flex;
    gap: 0 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 64px;
  }

  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .customers-link {
    max-width: 168px;
    padding: 16px 32px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-logo-case {
    display: block;
  }

  .footer-social {
    display: block;
    margin-left: 24px;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-subscribe {
    display: block;
    align-items: baseline;
  }

  .text-soc-media-footer {
    text-align: left;
  }

  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
    margin-bottom: 0;
  }

  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .container,
  .team > .container,
  .other > .container,
  .customers > .container,
  .footer > .container {
    max-width: 1158px;
    width: 100%;
  }

  .header-nav-logo {
    margin-right: 76px;
  }

  .header-nav-list {
    margin-right: 0;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
  }

  @media (min-divice-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }

  .other {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .other-list {
    gap: 24px;
  }

  .other-item {
    width: 100%;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 4px;
  }

  .other-item-top {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--color-cloud);
    margin-bottom: 8px;
  }

  .other-item-icon {
    height: 64px;
  }

  .other-title {
    color: #2e2f42;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .other-text {
    min-width: 268px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .doing {
    display: flex;
    padding-bottom: 120px;
  }

  .doing-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
    margin-bottom: 0;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  .customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    color: #8e8f99;
    border-color: #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;

    max-width: 168px;
    padding: 16px 32px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-logo-case {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-social {
    margin-left: 0;
  }
}
