:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  color: var(--color-slate);
  background-color: var(--color-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-top {
  margin-bottom: 72px;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
}

.address {
  display: block;
  font-style: normal;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-nav,
.address {
  display: flex;
}

/* 
        HEADER
*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 1440px;
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--color-iris);
}

.header-nav-logo-end {
  color: var(--color-navy-blue);
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.current {
  position: relative;
  color: var(--color-ocean);
}

.current::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}

/* 
      HERO
*/
.hero {
  margin: 0 auto;
  align-items: center;
  max-width: 1440px;
  width: 1440px;
  max-height: 600px;
  padding: 188px 0;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
}

.hero-btn {
  display: block;
  margin: auto;
  min-width: 169px;

  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color: var(--color-white);
  background-color: var(--color-iris);
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--color-ocean);
}

/* 
      OTHER
*/
.other {
  padding: 120px 0;
}

.container-other {
  padding-bottom: 0;
  color: var(--color-navy-blue);
}

.other-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.other-item {
  display: flex;
  flex-direction: column;
}

.other-item-top {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-cloud);
  margin-bottom: 8px;
}

.other-title {
  margin-bottom: 8px;
}

.other-text {
  flex-basis: auto;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-slate);
}

/* 
         DOING
*/

.doing {
  padding-bottom: 120px;
}

.doing-title {
  text-align: center;
  color: var(--color-navy-blue);
  text-transform: capitalize;
}

.doing-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* 
       TEAM
*/
.team {
  padding: 120px 0;
  background-color: var(--color-cloud);
}

.team-titles {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
}

.team-container {
  padding: 32px 0;
}

.team-text {
  flex-basis: auto;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-slate);
  margin-bottom: 8px;
  /* background-color: var(--color-white); */
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  /* width: calc((100% - 96) / 4);  */
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-iris);
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--color-cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-ocean);
}

/* 
      CUSTOMERS
*/
.customers {
  padding: 120px 0;
  background-color: var(--color-white);
}

.customers-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.customers-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.customers-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
  color: var(--color-light-slate);
  border-color: var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
}

/* 
         FOOTER
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-navy-blue);
}

.footer-container {
  flex-direction: row;
  display: flex;
  align-items: baseline;
}

.footer-logo-case {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.footer-logo-end {
  color: var(--color-cloud);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

.footer-social {
  margin-right: 80px;
}

.footer-social-text {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--color-cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgba(49, 208, 170, 1);
}

.footer-social-item:focus,
.footer-social-item:hover {
  fill: var(--color-white);
}

.text-soc-media-footer {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  flex-shrink: 0;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--color-white);
  outline: transparent;
}

.subscribe-input::placeholder {
  color: var(--color-white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background: var(--color-iris);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--color-ocean);
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--color-white);
}

/* 
                           Portfolio
*/
.card {
  padding-bottom: 120px;
  padding-top: 96px;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.card-btn {
  padding: 12px 24px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--color-iris);
  background-color: var(--color-cloud);
  border: 1px solid var(--border-color);

  cursor: pointer;
  border: 1px solid var(--color-cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-btn:hover,
.card-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.pic-item {
  width: calc((100% - 48px) / 3);
}

.pic-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pic-link:hover,
.pic-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pic-link:focus .over-text,
.pic-link:hover .over-text {
  transform: translateY(0%);
}

.pic-card {
  position: relative;
  overflow: hidden;
}

.over-text {
  position: absolute;
  height: 100%;
  padding: 40px 32px;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pic-content {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
  background-color: var(--color-white);
}

.pic-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.pic-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*  
            MODAL
*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--color-dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  position: absolute;
  padding: 0;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal-close-btn:hover .icon-modal,
.modal-close-btn:focus .icon-modal {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.label-wrap {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}

.modal-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-iris);
}

.text-area {
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.text-area:focus {
  border-color: var(--color-iris);
}

.textarea-wrap {
  margin-bottom: 16px;
}

.modal-privacy {
  margin-bottom: 24px;
}

.check-text {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  gap: 8px;
}

.check-text-label-wrap {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  border: none;
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
}

.check-link {
  color: var(--color-iris);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-btn-send {
  min-width: 169px;
  height: 56px;
  display: block;
  margin: auto;
  border: none;
  color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--color-iris);
}
